@import 'styles/global';

.Button {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  border-radius: 44px;
  padding: 12px 15px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none !important;
  transition: all $transition-base;

  &_modifier_primary {
    background: linear-gradient(180deg, #5683ff 78.12%, #7398ff 100%), #5683ff;
    color: white;

    &:hover {
      opacity: 0.7;
    }
  }

  &_modifier_dark {
    background: linear-gradient(
      201.05deg,
      #42475c -0.56%,
      #262a3c 22.28%,
      #24293b 105.85%
    );
    color: white;

    &:hover {
      opacity: 0.7;
    }
  }
}
